
<div class="container">
  <div class="row">
    <h4>商品新規登録</h4>
  </div>
</div>

<div class="container">
  <div class="row">
      
      <%= form_with model: @item, url: "/admin/items/new", local:true do |f| %>
      
        <div class="field">
          <%= f.label :商品画像 %>
          <%= f.attachment_field :image, autofocus: true, autocomplete: "image" %>
        </div>
        
        <div class="field">
          <%= f.label :商品名 %>
          <%= f.text_field :name %>
        </div>
        
        <div class="field">
          <%= f.label :商品説明 %>
          <%= f.text_area :introduction %>
        </div>
        
        <div class="field">
          <%= f.label :ジャンル %>
          <%#= f.select :genre_id, ['--選択してください--', 'ケーキ', '焼き菓子', 'プリン', 'キャンディ'] %>
          <%= f.select :genre_id, Genre.all.map {|p| [p.name, p.id]}, :prompt => "選択してください", size: 60 %>
        </div>
        
        <div class="field">
          <%= f.label :税抜価格 %>
          <%= f.number_field :price %>円
        </div>
        
        <div class="field">
          <%= f.label :販売ステータス %>
          <%= f.radio_button :is_active, true, checked: true %>
          <%= f.label :is_active, '販売中', value: true %>
          
          <%= f.radio_button :is_active, :false %>
          <%= f.label :is_active, '販売停止中', value: false %>
        </div>
        
        <%= f.submit "新規登録", class:'btn btn-success' %>
      
      <% end %>
    </div>
  </div>
</div>