<h4><%= @customer.last_name %><%= @customer.first_name %>
  <%#= @customer.order.name %>さんの会員情報編集</h4>
 
<div class="customer-form">
<%= form_with model:@customer, url: admin_customer_path(@customer), local:true do |f| %>
  <div class="field">
    <%= f.label :会員ID,"会員ID" %>
    <%= @customer.id %>
  </div>
  
  <div class="field">
    <%= f.label :氏名 %>
    <%= f.text_field :last_name, autofocus: true %>
    <%= f.text_field :first_name %>
  </div>
  
  <div class="field">
    <%= f.label :フリガナ %>
    <%= f.text_field :last_name_kana %>
    <%= f.text_field :first_name_kana %>
  </div>

  <div class="field">
    <%= f.label :郵便番号 %>
    <%= f.text_field :postal_code %>
  </div>
  
  <div class="field">
    <%= f.label :住所 %>
    <%= f.text_field :address %>
  </div>
  
  <div class="field">
    <%= f.label :電話番号 %>
    <%= f.text_field :telephone_number %>
  </div>

  <div class="field">
    <%= f.label :メールアドレス %>
    <%= f.email_field :email, autocomplete: "email" %>
  </div>
  
  <div class="field">
    <%= f.label :会員ステータス %>
    <%= f.radio_button :is_active, true, checked: true %>
    <%= f.label :is_active, '有効', value: true %>
    
    <%= f.radio_button :is_active, :false %>
    <%= f.label :is_active, '退会', value: false %>
  </div>
  
  
  <div class="actions">
    <%= f.submit "変更を保存", class: 'btn btn-success' %>
  </div>
<% end %>
</div> 














