<div class="container">
  
  <div class="row">
    <h4 class="col-xl-4">管理者ログイン</h4>
  </div>
    
  <div class="text-center">
    
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :メールアドレス %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>
    
      <div class="field">
        <%= f.label :パスワード %>
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>
    
      
        <!--class=""じゃない！-->
        <%= f.submit "ログイン", class:'btn btn-primary' %>
      
    <% end %>
    
   
  </div>  
  
</div>
