
<h5>ジャンル検索</h5>
<% @genres.each do |genre| %>
  <%= genre.name %><br>
<% end %>

<%= attachment_image_tag @item, :image, :fill, 300, 200, format: 'jpeg' %><br>
<%= @item.name %><br>
<%= @item.introduction %><br>
￥<%= @item.price %><small>（税込）</small>

<%= form_with model: @cart_item, url:cart_items_path,local:true do |f| %>
  <%= f.select :amount, *[1..3] %>
  <%= f.hidden_field :item_id, value: @item.id %>
  <%= f.submit 'カートに入れる', class: 'btn btn-primary' %>
<% end %>


